.restaurantsTabsTitle {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(14px + 6 * ((100vw - 320px)/ 1600));
	height: calc(30px + 26 * ((100vw - 320px)/ 1600));
	max-height: 56px;
	flex: 1 1 auto;
	text-transform: none;
	border-radius: 0;
}

.restaurantsTabsTitle:hover {
	font-weight: 600;
}

.restaurantsTabsTitleActive {
	font-weight: 600;
	border: solid 1px rgb(21, 0, 255);
}