.counter{
	display: flex;
	align-items: center;
	gap: 4px;
}

.counterValue{
	font-weight: 600;
	font-size: 16px;
}

.counterBtn{
	width: 1.2em;
	height: 1.2em;
	border: 1px solid;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}