.reviewEditButtons {
  display: flex;
  gap: 12px;
}

.reviewEditButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #777777;
  color: #000;
  padding: 8px 12px;
}

.restaurantReviewsItem {
  border-bottom: solid 1px #000;
}
.restaurantReviewsItemtext {
  font-size: calc(8px + 4 * ((100vw - 320px) / 1600));
}
.restaurantReviewsItemUser {
  font-weight: 700;
}

.restaurantReviewsItemEditButton {
  text-decoration: underline;
  color: gray;
  font-size: calc(6px + 4 * ((100vw - 320px) / 1600));
  cursor: pointer;
}

@media (max-width: 1920px) {
  .restaurantReviewsItemtext {
    font-size: 12px;
  }
  .restaurantReviewsItemEditButton {
    font-size: 10px;
  }
}
