.progressBar{
	position: fixed;
	top: 0;
	left: 0;
	height: 12px;
	width: 100%;
}

.progressBarValue{
	background: red;
	transition: 0.3s ease-out;
	height: 100%;
}

@media(max-width: 768px){
	.progressBar{
		display: none;
	}
}